

.taskTodo {
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
  }

  .taskTodoHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .count-todo {
    background-color: #dfdfdf;
    border-radius: 50%;
    color: #ff0000;
    margin-left: 10px;
    padding: 5px 10px;
  }

  .clearAll {
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    border-radius: 10px;
    border: none;
    padding: 8px 8px;
  }

  .clearAll:hover {
    background-color: #cd2424;
  }

  .clearAll:active {
    transform: translateY(2px);
  }