.taskTodo {
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    max-width: 900px;
    margin: 20px auto;
  }

  .taskTodoHead {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
  }

  .count-todo {
    background-color: #dfdfdf;
    border-radius: 50%;
    color: #ff0000;
    margin-left: 10px;
    padding: 5px 10px;
  }

  .clearAll {
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    border-radius: 10px;
    border: none;
    padding: 8px 8px;
    font-size: 15px;
    font-weight: bold;
  }

  .clearAll:hover {
    background-color: #cd2424;
  }

  .clearAll:active {
    transform: translateY(2px);
  }

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }


  li {
    display: flex;
    width: 600px;
    justify-content: center;
    border-radius: 20px;
    padding: 15px 10px;
    border-left: 5px solid rgb(248, 209, 91);
    box-shadow: 3px 4px 13px 0px rgb(236, 210, 65);
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }


  .content-todoList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .butons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
  }

  .btnupd {
    padding: 10px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
  }

.upd-logo {
  color: rgb(154, 210, 13);
}

.save-logo {
  color: blue;
  font-size: 20px;
}

.done-logo{
  color: green;
  font-size: 20px;
}

.clearAll-logo {
  color: black;
  font-size: 20px;
}

.delete-logo {
  color: red;
  font-size: 20px;
}

  .btnsave {
    padding: 10px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
  }

  .input-update {
    border: none;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
  }

  .btndone {
    padding: 5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
  }

  .btndelete {
    padding: 5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
  }

  @media only screen and (max-width: 660px) {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    }

    li {
      display: flex;
      width: 500px;
      justify-content: center;
      border-radius: 20px;
      padding: 15px 10px;
      border-left: 5px solid rgb(248, 209, 91);
      box-shadow: 3px 4px 13px 0px rgb(236, 210, 65);
      gap: 20px;
      align-items: center;
      margin-bottom: 10px;
      flex-wrap: wrap;
    }
  }
  

  @media only screen and (max-width: 570px) {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    }

    li {
      display: flex;
    width: 400px;
    justify-content: center;
    border-radius: 20px;
    padding: 15px 10px;
    border-left: 5px solid rgb(248, 209, 91);
    box-shadow: 3px 4px 13px 0px rgb(236, 210, 65);
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 470px) {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    }

    li {
      display: flex;
    width: 350px;
    justify-content: center;
    border-radius: 20px;
    padding: 15px 10px;
    border-left: 5px solid rgb(248, 209, 91);
    box-shadow: 3px 4px 13px 0px rgb(236, 210, 65);
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    }
  }


  @media only screen and (max-width: 410px) {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    }

    li {
      display: flex;
    width: 300px;
    justify-content: center;
    border-radius: 20px;
    padding: 15px 10px;
    border-left: 5px solid rgb(248, 209, 91);
    box-shadow: 3px 4px 13px 0px rgb(236, 210, 65);
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    }

    .content-todoList p {
      display: flex;
      max-width: 250px;
      flex-direction: column;
      padding: 20px;
      word-wrap: break-word;
    }
  }


  @media only screen and (max-width: 335px) {
    .taskTodoHead {
      display: flex;
      text-align: center;
      margin-bottom: 20px;
      flex-direction: row;
      gap: 30px;
      align-items: center;
      justify-content: flex-end;
  }
    
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    }

    li {
      display: flex;
      width: 230px;
      justify-content: center;
      border-radius: 20px;
      padding: 20px;
      border-left: 5px solid rgb(248, 209, 91);
      box-shadow: 3px 4px 13px 0px rgb(236, 210, 65);
      gap: 20px;
      align-items: center;
      margin-bottom: 10px;
      text-align: center;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }
  }



  @media only screen and (max-width: 320px) {
    .taskTodoHead {
      display: flex;
      text-align: center;
      margin-bottom: 20px;
      flex-direction: row;
      gap: 30px;
      align-items: center;
      justify-content: flex-end;
  }
    
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    }

    li {
      display: flex;
      width: 230px;
      justify-content: center;
      border-radius: 20px;
      padding: 20px;
      border-left: 5px solid rgb(248, 209, 91);
      box-shadow: 3px 4px 13px 0px rgb(236, 210, 65);
      gap: 20px;
      align-items: center;
      margin-bottom: 10px;
      text-align: center;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }


  }

  